.sidenav {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #000;
  height: 100vh;
  display: flex;
/*   justify-content: space-evenly; */
  gap: 2%;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2% 1% 6%;
}
.sidenav ul {
  width: 100%;
  padding: 10px 5px;
  list-style: none;
}
.sidenav li {
  padding: 10px 5px;
  background-color: #161e29;
  margin: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 0 1px #000);
}
.sidenav li:active {
  transform: scale(0.9);
}

@media (min-wid) {
}
