.stats{
    width: 100%;
    height: auto;
    min-width: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 5% 10%;
    margin: 4% 0 4%;
}
.stats ul{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    list-style: none;
    gap: 10%;
    color: rgb(29, 78, 216);
    font-weight: 500;
    font-size: 1.05;
}
.stats ul li{
    cursor: pointer;
}



.grid-stats{
    width: 100%;
    min-width: 330px;
    padding: 4% 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.grid-box{
    flex-basis: 45%;
    width: 30%;
    min-width: 300px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    min-height: 30vh;
    border-radius: 8px;
    color: #333;
    filter: drop-shadow(0 0 3px #000);
}
.grid-box .heading{
    font-size: 1.4rem; 
    font-weight: 600;
    color: #171717;
}
.grid-box .figure{
    font-size: 2.5rem;
    font-weight: 600;
}
.grid-box .timeframe{
    font-weight: 500;
    font-size: 0.9rem;
}
.recent-activity, .alerts{
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    filter: drop-shadow( 0 0 3px #000);
    min-height: 10vh;
    height: auto;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.recent-activity h1, .alerts h1{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 0;
}
.recent-activity p, .alerts p{
    color: #7285AF;
    font-size: 1.1rem;
    font-weight: 400;
}
.transaction-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.transaction-list li{
    width: 100%;
    min-width: 280px;
    padding: 8px 12px;
    margin: 1% 0;
    border-bottom: 3px solid  #3A4A5A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.transaction-list  .desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 8px;
    max-width: 200px;
    height: 100%;
    text-align: center;
    color: #7285AF;
}
.desc header{
    color: #171717;
    font-size: 1.1rem;
}







@media(max-width:768px){
    .stats{
        margin: 4% 0 15%;
    }
}









