@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
body{
  background: url("https://github.com/chiscookeke11/Test-pagea/blob/main/Rect%20Light22.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage {
  width: 100%;
  overflow: hidden;
}
.service {
  width: 100%;
  min-height: 100vh;
}

.sidebar,
.button,
.side-button:hover {
  background-color: #3a4a5a;
}

.sidebar,
.button,
.pages ul li a:hover,
.pages ul li a:active {
  background-color: #68a4a5;
}

.input {
  border: 1px solid #68a4a5;
}
.text-color {
  color: #68a4a5;
}
.sidebar ul li a:hover {
  background-color: #3a4a5a;
}

.dashboard-top {
  background-color: #1e2a38;
}

.dash-box {
  background-color: #3a4a5a;
}

.button2 a:hover {
  background-color: #68a4a5;
}
.applayout .user{

  background-color: #e8e8e8;
}
.token-box{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(50px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  width: 30%;
  margin: 15% auto;
  padding: 3% 2%;
  border-radius: 6px;
  font-size: 1.3rem;
  color: #7285AF;
  letter-spacing: 0.8px;
}
.token-box div{
  margin: 10px 0;
}
.flag-btn{
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 12px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}